<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <title>App</title>
  </head>
  <body>
    <div class="Title"><a href="/">Time 4 Break</a></div>

    <div class="Main-Container">
      <div class="Video-Box">
        <h3 id="current_state">Current State: Awake</h3>
        <br />
        <video id="video" width="600" height="300" autoplay></video>
        <div class="button">
          <button class="startButton" id="startButton" onClick="startVideo()">
            Start
          </button>
        </div>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script src="/static/functions.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        if (!userId) {
          initializeFirebase();
        }
        if (userId) {
          firebase
          .database()
          .ref("/startState/")
          .set({
            startState: "stop",
          });
        }
      }, false);
    </script>
  </body>
</html>
