<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/6.0.1/firebase-ui-auth.css"
    />
    <link rel="stylesheet" href="../static/styles/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <title>App</title>
  </head>
  <body>
    <div class="Title"><a href="/">Time 4 Break</a></div>

    <div class="Main-Container">
      <div class="Past-Suggestions">
        <h3>Past Suggestions</h3>
        <br />
        <ul id="suggestions"></ul>
      </div>
      <div class="Video-Box">
        <h3 id="current_state">Current State: Awake</h3>
        <br />
        <h3 id="current_sugg">Current Suggestion: None</h3>
        <br />
        <video id="video" width="600" height="300" autoplay></video>
        <div class="button">
          <button class="startButton" id="startButton" onClick="startVideo()">
            Start
          </button>
        </div>
      </div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
    <script>
      // firebase config
      var config = {
        apiKey: "AIzaSyCFus5s9f9JSygMC9l6oKgy2NndG5SFwHc",
        authDomain: "time4break-b3569.firebaseapp.com",
        projectId: "time4break-b3569",
        storageBucket: "time4break-b3569.appspot.com",
        messagingSenderId: "184415951680",
        appId: "1:184415951680:web:75504dfc735192f6b0f8a5",
        measurementId: "G-Q2N70XDRK7",
        databaseURL: "https://time4break-b3569-default-rtdb.firebaseio.com/",
      };
      firebase.initializeApp(config);

      /////////////////////////////////////

      /**********************\
         * Check login status *
        \**********************/
      var database = firebase.database();
      var isStart = false;
      // save the user's profile into Firebase so we can list users,
      // use them in Security and Firebase Rules, and show profiles
      function writeUserData(userId, name, email, imageUrl) {
        firebase
          .database()
          .ref("users/" + userId)
          .set({
            username: name,
            email: email,
            //some more user data
          });
      }
      let userId = null;
      firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
          userId = user.uid;
          getSuggestions(userId);
          //   var userId = user.uid
          //   firebase
          //     .database()
          //     .ref("users/" + userId)
          //     .set({
          //       suggestions: ["Get more sleep"],
          //       //some more user data
          //     });
        } else {
          // Set the contents of the div with the id suggestions to say "Log in to view past suggestions"
          document.getElementById("suggestions").innerHTML =
            "Log in to view past suggestions";
        }
      });

      setInterval(() => {
        console.log("IN INTERVAL");
        if (userId) {
          getSuggestions(userId);
          getState();
          getCurrentSuggestion();
        }
      }, 10000);

      var suggestions = [];

      function startVideo() {
        isStart = !isStart;
        document.getElementById("startButton").innerHTML = isStart
          ? "Stop"
          : "Start";
      }
      function getState() {
        var starCountRef = firebase.database().ref("state");
        starCountRef.on("value", (snapshot) => {
          const data = snapshot.val();
          if (data) {
            document.getElementById("current_state").innerHTML =
              "Current State: " + data;
          }
        });
      }
      async function getCurrentSuggestion() {
        var starCountRef = firebase.database().ref("currentSuggestion");
        await getSuggestions(userId);
        starCountRef.on("value", (snapshot) => {
          const data = snapshot.val();
          if (data) {
            document.getElementById("current_sugg").innerHTML =
              "Current Suggestion: " + data;
          }
          if (suggestions.includes(data)) {
            console.log("Already Exists");
          } else {
            firebase
              .database()
              .ref("users/" + userId)
              .set({
                suggestions: [...suggestions, data],
                //some more user data
              });
          }
        });
        getSuggestions(userId);
      }
      async function getSuggestions(userId) {
        firebase
          .database()
          .ref("users/" + userId)
          .once("value")
          .then(function (snapshot) {
            suggestions = snapshot.val().suggestions;
            $("#suggestions").empty();
            var list = document.getElementById("suggestions");
            for (var i = 0; i < suggestions.length; i++) {
              var item = document.createElement("li");
              item.innerHTML = suggestions[i];
              list.appendChild(item);
            }
          });
      }
    </script>
  </body>
</html>
