* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

.Title {
  font-size: 50px;
  /* Set a good title font */
  font-family: "Permanent Marker", "Roboto";
  /* font-family: comic-sans; */
  padding: 25px;
  text-align: center;
  /* color: linear-gradient(to left, #553c9a, #b393d3); */
  color: #14acc3 !important;
  line-height: 1.3;
  text-shadow: 2px 2px #b8dbd9;
}

.Title a {
  color: #14acc3 !important;
  font-family: "Permanent Marker", "Roboto";
  font-size: 50px;
}
.Login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Guest {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.Main-Container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.Past-Suggestions {
  display: flex;
  flex-direction: column;
  margin-right: 135px;
  margin-left: 20px;
  margin-top: 130px;
}
.Video-Box {
  display: flex;
  flex-direction: column;
}
#video {
  background-color: black;
  border-radius: 3px;
}

li {
  margin-left: 15px;
  font-size: 17px;
}
.startButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  /* width: 50%; */
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 700px;
  background-color: #30b0d5;
  padding: 8px 70px;
  border: none;
  box-shadow: 5px 5px rgba(41, 40, 40, 0.75);
}

.button {
  margin: 0 auto;
  font-size: 20px;
}

button {
  box-shadow: 2px 2px rgba(41, 40, 40, 0.75);
  border: none;
}
